@import "tailwindcss";

:root {
  --color-bg-light: #E6EDF3; /* Fond principal */
  --color-text-light:  #0D1117; /* Texte principal */
  --color-bg-light-dark: #0D1117;
  --color-text-dark: #E6EDF3;
  --color-accent-blue: #58A6FF;
  --color-accent-red: #fd3c3c;
  --color-border: #30363D; /* Pour les séparateurs */
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --bg-color: #0D1117;
  --text-color: #E6EDF3;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

h1, h2{
  color: var(--color-text-light);
}

.navbar a {
  color: var(--color-bg-light);
  transition: color 0.3 ease-in-out;
}

.navbar a:hover {
  color: var(--color-accent-red) !important;
}

.bg-primary {
  background-color: var(--color-bg-light) !important;
}

.text-primary {
  color: var(--color-text-light);
}

.text-accent-blue {
  color: var(--color-accent-blue);
}

.text-accent-red {
  color: var(--color-accent-red);
}

.border-custom {
  border-color: var(--color-border);
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
